/* Card Style */
.link {
  text-decoration: none;
}

.outside-box {
  min-width: 275px;
}

.MuiCardContent-root {
  position: relative;
}

.MuiTypography-root.customTypography {
  font-size: 48px;
  font-weight: bold;
  color: #82B440;
  /* height: 60px; */
  margin-left: 2px;
}

.MuiTypography-root.TypographyTittle {
  font-size: 24px ;
  color: #000000;
  font-weight: bold ;
}

.customBox {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #82B440;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.customIcon {
  font-size: 36px !important; 
  color: white;
}

/* Header Style */
.MuiCardHeader-root{
  color: #82B440;
  padding: 24px !important;
  background-color: white;
}

.MuiButton-root.refresh-button {
  color: #82B440 ;
  margin-right: 16px;
}

.MuiGrid-root.suumary-container{
  margin-top: 0px ;
}

/* contianer */
.MuiContainer-maxWidthMd{
  margin-top: 100px ;
  margin-bottom: 100px;
}


  
  

